html,
body {
  font-family: sans-serif;
  height: 100%;
  background-color: #6394ef;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  width: calc(100% - 67px);
  min-height: 60%;
  padding: 50px 120px;

  background-color: rgb(65, 65, 201);
  border-radius: 20px;

  color: #fff;
  text-align: center;
  position: relative;
  z-index: 2;
}

.based-image {
  display: none;
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: -1;

  background-image: url(../img/noway.png);
  background-size: 50%;

  top: 0;
  left: 0;
}

.add-task-input {
  height: 30px;
  width: calc(100% - 85px);
  margin-right: 5px;

  outline-color: transparent;
  z-index: 2;
}

.add-task-btn,
.delete-btn {
  background-color: rgb(232, 118, 118);
  height: 36px;
  border: none;
  cursor: pointer;
  color: #000000;

  transition: background-color 250ms ease-in;
  z-index: 2;
}

.add-task-btn:hover {
  background-color: rgb(237, 62, 62);
}

.delete-btn:hover,
.delete-btn:focus {
  background-color: rgb(174, 174, 47);
}

.todo-list {
  list-style-type: none;
  padding-left: 5px;
  z-index: 2;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  z-index: 2;

  background-color: #ffffff65;
  color: #000000;
}

.delete-btn {
  width: 77.5px;
  border-radius: 5px;
  background-color: rgb(225, 225, 129);
  z-index: 2;
}
